{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for task in tasks %}
        <div class="col-md-4">
            <div class="card m-3">
                <div class="card-body">
                    <p>{{ task.id }}</p> 
                    <p>{{ task.task_assign_date }}</p> 
                    <p>{{ task.taskDescription }}</p>


                    <p><strong>Categories:</strong> 
                    {% for category in task.categories.all %}
                        {{ category.category_name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No categories assigned.
                    {% endfor %}
                    </p>
                    {% if task.is_completed %} 
                    <p><b>Completed</b></p>
                    {% else %}
                    <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
